

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Encode+Sans&family=Montserrat:wght@100&family=Sacramento&display=swap');




.vl {
    border-left: 1px solid grey;
    height: 500px;

  }
  
footer p{
    text-align: center;
   
}
body{
    background-image: url(../img/gofri3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Tahoma', cursive;
}
.static{
    background-color: rgba(255, 255, 255, 0.7);
}
.under{
    margin-bottom: 500px;
}
footer{
    margin-bottom: 0%;
}
#nav{
    color: white;
}
p{
    text-align: justify;

}